name: Jepsen tests

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  GO_VERSION: 1.22.4

jobs:
  test:
    name: jepsen
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Test
        run: make base_img jepsen_base_img jepsen_test

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs
          path: tests/logs
