name: Unit tests

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  GO_VERSION: 1.25.6

jobs:
  unittest:
    name: all_unittests
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Test
        run: make unittests
        env:
          TEST_MODIFIER: -race
